

/* Custom colors and design preferences based on design manual/figma prototype made */


/* sidebar */
.bg-gray-200 {
    background-color: #E2E7F0; 
  }

/* navbar */
.bg-gray-100 {
    background-color: #EDF0F7;
  }

  /* primærfarge 
  .bg-green-600 {
    background-color: #27A74B;
  }
    */

  /* text-farge */
  .bg-text-dark {
    color: #2D3648; 
  }

  .bg-text-light{
    color:white;
  }