/* Global reset and css */
@import 'variables.css';

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
}

hr{
  color: var(--border-color);
}
img{
  width: 24px;
  height: 24px;
}

/* Navbar Styles */
.navbar {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
  position: fixed;
  z-index: 1030;
}

.navbar-brand {
  white-space: normal;
  text-align: left;
  word-break: break-all;
  text-decoration: none;
}

/* Sidebar Styles */
.sidebar {
  background-color: var(--bg-sidebar);
  box-shadow: var(--shadow-sm);
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: block; /* Show sidebar by default */
}

.sidebar li {
  padding: 10px;
}

.sidebar img {
  margin-right: 10px;
}

/* Center the logout button */
.logout {
  text-align: left;
}


/* Main Content Styles */
.main-content {
  margin-left: 240px; /* Width of the sidebar */
  padding: 2rem;
  height: auto;
}

/* Menu Button */
.menu-button {
  display: none; /* Hidden by default */
}

/* Button primary */
.btn-success{
  background-color: var(--primary-green);
  color: var(--text-white);
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Button primary:hover */
.btn-success:hover{
  background-color: var(--primary-green-hover);
  color: var(--text-white);
  border: none;
  transition: background-color 0.3s, color 0.3s;
}



/* Navigation Link Styles */
.nav .nav-link {
  color: var(--text-primary); 
}

.nav .nav-link:hover {
  background-color: var(--primary-green-hover); /* Dark green background on hover */
  color: #ffffff; /* White text on hover */
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav .nav-link.active {
  background-color: var(--nav-active); /* Green background for active link */
  color: #ffffff !important;
  border-radius: 4px;
}

.nav .nav-link.active:hover {
  background-color: var(--primary-green-hover); /* Darker green on hover for active link */
  color: #fff !important;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}


/* Wrapper Box Style */
.wrapper-box {
  width: 70%;
  height: auto;
  padding: 10px;
  border-radius: var(--border-radius-sm);
  background-color:var(--bg-primary);
  box-shadow: var(--shadow-sm);
}


/* Responsive Adjustments */

/* Hide sidebar and show menu button on screens smaller than 992px */
@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0; /* Remove left margin */
  }
  .menu-button {
    display: block; /* Show menu button */
  }
}

/* Ensure correct display on large screens */
@media (min-width: 992px) {
  .sidebar {
    display: block; /* Show sidebar */
  }
  .main-content {
    margin-left: 240px; /* Width of the sidebar */
  }
  .menu-button {
    display: none; /* Hide menu button */
  }
}

