
@model Sub_App_1.ViewModels.ProductFormViewModel
@{
    ViewData["Title"] = "Edit Product";
}

<h2>@Model.PageTitle</h2>

<partial name="_ProductForm" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
