<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sub_App_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    <!-- Navbar -->
    <nav class="navbar-nav p-1 mb-1 bg-primary text-white d-flex justify-content-between box-shadow">
        <a class="navbar-brand">Logo</a> <!-- Sett inn logo som <img>-tag om ønskelig -->
        <div class="d-flex align-items-center">
            <span class="navbar-text mr-3 p-1">Bruker: @User.Identity.Name</span>
            <!-- Profilbilde (fjern hvis unødvendig) -->
            <img class="rounded-circle profile-picture" src="path/to/profile-picture.png" alt="Profile">
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar mb-auto d-flex flex-column bg-info">
        <ul class="nav flex-column nav-pills nav-fill ">
            <li class="nav-item ">
                <a class="nav-link active" href="/" aria-current="page">Dashboard</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Products">Products</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
            </li>
            <li class="nav-item ">
                <a href="/Home/Privacy" class="nav-link">Privacy</a>
            </li>
        
        <!-- Log out button -->
            <li class="nav-item justif">
                <button class="btn btn-link">Log out</button>
            </li>
        </ul>
    </div>
</header>

<!-- Main content -->
<div class="main-content">
    @if (User.Identity.IsAuthenticated) {
        <h1>Welcome, @User.Identity.Name!</h1>
        <p>You are currently logged in.</p>
    } else {
        <h1>Hello there!</h1>
        <p>You are not currently logged in.</p>
    }
        @RenderBody()
</div>



<!-- Footer -->
<footer class="border-top footer text-muted">
    <!-- Footer content kan legges til her om nødvendig -->
     @* <div class="container">
            &copy; 2024 - Sub_App_1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
</footer>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

