<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sub_App_1</title>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true"/>
     <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    }

    
     @if (ViewData["Title"]?.ToString() == "Home Page") {
        <link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />
    }
     @if (ViewData["Title"]?.ToString() == "Products") {
        <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    } 
    @if (ViewData["Title"]?.ToString() == "Add Product") {
        <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
    }
    
</head>
<body>
    <!-- Navbar for smaller screens -->
    <nav class="navbar navbar d-lg-none">
        <div class="container-fluid">
            <img class=logo src="~/icons/LogoGreen.svg" alt="Logo of Food Bank">
            <a class="navbar-brand" href="#">FoodBank</a>
           <a asp-controller="Home" asp-action="Menu" class="btn btn-primary icon">
                Menu
            </a>
    </nav>  
   

    <!-- Sidebar for Large Screens -->
    <div class="sidebar-wrapper d-none d-lg-flex">
        <div>
            <partial name="_Sidebar" />
        </div>
    </div
    

    <!-- Main content -->
    <div class="container-fluid">
    <div class="main-content">
        @RenderBody()
    </div>
    </div>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
