@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated) {
        <p>Welcome, @User.Identity.Name! You are logged in.</p>
        <!-- Add more content for logged-in users here (TODO: FRONT END) -->
    } else {
        <!-- Todo: FRONT END -->
        <p>You need to login to use this web application. <a asp-area="" asp-controller="Account" asp-action="Index">Click here to login or register.</a></p>
    }
</div>