@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You need to login to use this web application. <a asp-area="" asp-controller="Account" asp-action="Index">Click here.</a></p>
</div>
